/*** VARIABLES ***/
// Colors
$font-color: #0C0A23;
$bg-color: #F1F1F8;
$theme-pri: #44739D;
$theme-sec: #52449D;
$error-color: #DC3545;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Placeholders
%truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}