<footer class="st-footer">
    <div class="st-copyright">
        Copyright © {{ currYear }} Stock Trader All rights reserved
    </div>
    <div class="st-developer">
        Development: <a href="mailto:beta6484@gmail.com">Roberta Carvalho</a> for <a href="http://www.wkm.com.br/" target="_blank" rel="noopener noreferrer">WKM</a>
    </div>
    <div class="st-data">
        <a class="st-link-button mr-3" (click)="importFakeData()">Import Fake Data</a>
        <a class="st-link-button" (click)="clearFakeData()">Clear Fake Data</a>
    </div>
</footer>