<ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="hasProposal && (proposalList$ | async) as list; else emptyList">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3" *ngFor="let item of list">
                <div class="card h-100">
                    <div class="card-header d-flex justify-content-between">
                        <strong>
                            Proposal Nº {{ item.id }}
                        </strong>
                        <strong *ngIf="item.aproved" class="text-success">Aproved</strong>
                        <strong *ngIf="!item.aproved && item.revisedOn === ''" class="text-warning">Waiting</strong>
                        <strong *ngIf="!item.aproved && item.revisedOn !== ''" class="text-danger">Rejected</strong>
                    </div>
                    <div class="card-body">
                        <label class="lbl-item">
                            <strong>Proposal date:</strong> {{ item.placedOn | date: 'short'}}
                        </label>
                        <label class="lbl-item">
                            <strong>Quota:</strong> {{ item.symbol }} ({{ item.company }})
                        </label>
                        <label class="lbl-item">
                            <strong>Current price:</strong> {{ item.currentPrice | currency }}
                        </label>
                        <label class="lbl-item">
                            <strong>Available quantity:</strong> {{ item.qtdAvaiable }}
                        </label>
                        <label class="lbl-item">
                            <strong>Offered value:</strong> {{ item.offered | currency }}
                        </label>
                        <label class="lbl-item">
                            <strong>Ordered quantity:</strong> {{ item.qtdOrdered }}
                        </label>
                        <label class="lbl-item" *ngIf="item.revisedOn !== ''">
                            <strong>Revised on:</strong> {{ item.revisedOn | date: 'short' }}
                        </label>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <button class="btn btn-danger" type="button" (click)="rejectProposal(item.id);" [disabled]="item.revisedOn !== ''">Reject</button>
                        <button class="btn btn-success" type="button" (click)="aproveProposal(item.id)" [disabled]="item.revisedOn !== ''">Aprove</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #emptyList>
        <div class="col text-center">
            <h3 class="mt-5">You don't have any proposal yet.</h3>
        </div>
    </ng-template>
</ng-container>
<ng-template #loading>
    <div class="col text-center">
        <h3 class="mt-5"><i class="fas fa-spinner fa-pulse"></i> Loading data, please wait...</h3>
    </div>
</ng-template>