<div class="row">
    <ng-container *ngIf="hasStock; else emptyList">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3" *ngFor="let item of stockList">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>
                        <i class="fas fa-chart-line mr-2"></i>
                        {{ item.company }}
                    </span>
                    <strong>
                        {{ item.symbol }}
                    </strong> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div>
                                Current value: ${{ item.price }}
                            </div>
                            <div>
                                Available quantity: {{ item.quantity }}
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-stpri w-100 h-100" type="button" (click)="buyStockQuota(item.id, stockModal)">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #emptyList>
        <div class="col text-center">
            <h3 class="mt-5"><i class="fas fa-spinner fa-pulse"></i> Loading data, please wait...</h3>
        </div>
    </ng-template>
</div>
<ng-template #stockModal>
    <div class="modal-header">
        <span> {{ stock.company }} ({{ stock.symbol }}) </span>
        <button class="btn-nude" type="button" (click)="closeModal()" title="Close"><i class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
        <p>Quota current value: <strong>${{ stock.price }}</strong><br>
        Current available quantity: <strong>{{ stock.quantity }}</strong></p>
        <form [formGroup]="offerForm" (ngSubmit)="placeOrder()" #offerFormItem="ngForm">
            <div class="material-form-group mt-4">
                <input class="material-input" type="number" formControlName="offer" [ngClass]="{ 'is-invalid': submitted && f['offer'].errors }" required />
                <span class="material-bar"></span>
                <label class="material-label">Offer ($)</label>
                <div *ngIf="submitted && f['offer'].errors" class="field-error">Minimun offer is required</div>
            </div>
            <div class="material-form-group mt-4 mb-0">
                <input class="material-input" type="number" formControlName="quantity" [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }" required />
                <span class="material-bar"></span>
                <label class="material-label">Quantity</label>
                <ng-container *ngIf="submitted && f['quantity'].errors">
                    <span class="field-error" *ngIf="submitted && f['quantity'].errors.required">Quantity is required for make offer</span>
                    <span class="field-error" *ngIf="submitted && f['quantity'].errors.minlength">Minimum quantity of 1 quota</span>
                    <span class="field-error" *ngIf="submitted && f['quantity'].errors.maxlength">Quantity must be equal to or less than available</span>
                </ng-container>
            </div>
        </form>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <a class="btn btn-link" (click)="closeModal()">Cancel</a>
        <button class="btn btn-stsec" (click)="offerFormItem.ngSubmit.emit()">Make Offer</button>
    </div>
</ng-template>